config server 'server'
	option ssl_cert '/etc/luci-uploads/cbid.uhttpd.main.cert'
	option ssl_key '/etc/luci-uploads/cbid.uhttpd.main.key'
	option check_origin '0'
	option max_clients '10'
	option readonly '0'
	option credential '0'
	option ssl '1'
	option interface 'lan'
	option port '7681'
	option debug '1 2'

config ssl 'ssl'
	option days '730'
	option bits '2048'
	option country 'CN'
	option commonname 'Ningxia'
